@{
	ViewBag.Title = "Main page";
}
Книги:
<table border="1" cellpadding="8">
	<tr>
		<td>Название</td>
		<td>Дата публикации</td>
		<td>Действия</td>
	</tr>
@foreach (var book in ViewBag.Books)
{
	<tr>
		<td>@book.Name</td>
		<td>@book.PublishDate.ToString("MMMM yyyy")</td>
		<td>
			@Html.ActionLink("Показать авторов", "ShowAuthors", new { id = book.BookId }) |
			@Html.ActionLink("Редактировать", "Edit", new { id = book.BookId }) |
			@Html.ActionLink("Удалить", "Delete", new { id = book.BookId })
		</td>
	</tr>
}
</table>
<br>
Авторы:
<table border="1" cellpadding="8">
	<tr>
		<td>Имя</td>
		<td>День рождения</td>
	</tr>
@foreach (var author in ViewBag.Authors)
{
	<tr>
		<td>@author.Name</td>
		<td>@author.Birthday.ToString("dd MMMM yyyy")</td>
	</tr>
}
</table>