@{
	ViewBag.Title = "Главная";
}
@model IEnumerable<Books.Models.Book>
Книги:
<table border="1" cellpadding="8">
	<tr>
		<td align="center">
			@Html.DisplayNameFor(model => model.First().Title)
		</td>
		<td align="center">
			@Html.DisplayNameFor(model => model.First().PublishDate)
		</td>
		<td align="center">Действия</td>
	</tr>
@foreach (var book in Model)
{
	<tr>
		<td>@Html.DisplayFor(modelItem => book.Title)</td>
		<td>@Html.DisplayFor(modelItem => book.PublishDate)</td>
		<td>
			@Html.ActionLink("Показать авторов", "ShowAuthors", new { id = book.BookId }) |
			@Html.ActionLink("Редактировать", "Edit", new { id = book.BookId }) |
			@Html.ActionLink("Удалить", "Delete", new { id = book.BookId })
		</td>
	</tr>
}
</table>