@{
	ViewBag.Title = "Main page";
}
Книги:
<table border="1" cellpadding="8">
	<tr>
		<td align="center">Название</td>
		<td align="center">Дата публикации</td>
		<td align="center">Действия</td>
	</tr>
@foreach (var book in ViewBag.Books)
{
	<tr>
		<td>@book.Name</td>
		<td>@book.PublishDate.ToString("MMMM yyyy")</td>
		<td>
			@Html.ActionLink("Показать авторов", "ShowAuthors", new { id = book.BookId }) |
			@Html.ActionLink("Редактировать", "Edit", new { id = book.BookId }) |
			@Html.ActionLink("Удалить", "Delete", new { id = book.BookId })
		</td>
	</tr>
}
</table>