@model IEnumerable<Books.Models.Author>

Авторы книги "@ViewBag.Title"
<table border="1" cellpadding="8">
	<tr>
		<td align="center">
			@Html.DisplayNameFor(model => model.First().Name)
		</td>
		<td align="center">
			@Html.DisplayNameFor(model => model.First().Birthday)
		</td>
	</tr>
@foreach (var author in Model)
{
	<tr>
		<td>
			@Html.DisplayFor(modelItem => author.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => author.Birthday)
		</td>
	</tr>
}
</table>